@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fffcf7;
  margin-top: 13rem; /* Par défaut pour les écrans de taille normale (mobile) */
}

/* Utilise une media query pour les écrans de taille "SM" */
@media (min-width: 640px) {
  body {
    margin-top: 5rem; /* Pour les écrans de taille "SM" et plus grands */
  }
}

.social {
  filter: grayscale(75%);
  transition: filter 0.3s ease;
}
.social:hover {
  filter: none;
}
.default-button {
  @apply border border-orange-500 text-orange-500 font-normal py-2 px-4 rounded-full inline-flex items-center duration-500;
}
.default-button svg {
  @apply duration-200;
}
.default-button:hover {
  @apply bg-orange-500 text-white;
}
.default-button:hover svg {
  @apply translate-x-2;
}

.white-button {
  @apply border border-orange-100 text-orange-100 font-normal min-w-40 py-2 px-4 rounded-full inline-flex items-center duration-500;
}
.white-button svg {
  @apply duration-200;
}
.white-button:hover {
  @apply bg-orange-100 text-orange-900;
}
.white-button:hover svg {
  @apply translate-x-2;
}
